In [1]:
# import the necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Read the data
weather_data = pd.read_csv('1. Weather Data.csv')

In [12]:
# Listing top 10 rows
weather_data.head(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [6]:
# Listing last 10 rows
weather_data.tail(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8774,12/31/2012 14:00,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,12/31/2012 15:00,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,12/31/2012 16:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,12/31/2012 17:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,12/31/2012 18:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [11]:
# Displayiing the total number of columns and rows in the dataset
weather_data.shape

(8784, 8)

In [13]:
# This means the dataset has 8,784 rows and 8 columns

## 1: Find all the records where the weather was exactly clear

In [17]:
# finding all the records where where weather was exactly clear
clear_weather = weather_data[weather_data['Weather'] == 'Clear']
# Displaying the records
clear_weather

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

## 2:Find the number of times the wind speed was exactly 4 Km/hr

In [114]:
# finding the number of times the wind speed was exactly 4km/hr
count_speed = (weather_data['Wind Speed_km/h'] == 4).sum()
# Displaying the number of times
print(f'The number of times the wind speed was exactly 4 Km/hr was {count_speed}.')

The number of times the wind speed was exactly 4 Km/hr was 474.

In [33]:
# Answer:The number of times wind speed was 4km/hr is 474 times

## 3:Check if there are NULL values present in the dataset

In [38]:
# Checking if there are null values in the dataset
null_values = weather_data.isnull().sum()
# Displaying the results
null_values

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [39]:
# Answer:We do not have any column where there are null values present in the dataset

## 4:Rename the column "Weather" to "Weather_Condition".

In [45]:
# Renaming "Weather" column to "Weather_condition"
weather_data.rename(columns = {'Weather':'Weather_Condition'}, inplace = True)
# Checking if renamed
print(weather_data.columns)

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather_Condition'],
      dtype='object')

## 5:What is the mean visibility of the dataset

In [52]:
# Finding the mean visibility
mean_visibility = weather_data['Visibility_km'].mean()
# printing the mean visibility
print(f'The mean visibility of the dataset is:{round(mean_visibility,4)} Km')

The mean visibility of the dataset is:27.6644 Km

## 6:Find the number of records where the wind speed is greater than 24 Km/hr and visibility is equal to 25Km

In [64]:
# Checking how many times the 2 conditions are met using lambda functions
record_count = weather_data.apply(lambda x:x['Wind Speed_km/h'] > 24 and x['Visibility_km'] == 25, axis = 1).sum()
# displaying the number of times
record_count
print(f'The number of records is {record_count}.')

The number of records is 308.

In [67]:
# Confirming using a function
def check_condition(x):
    return x['Wind Speed_km/h'] > 24 and x['Visibility_km'] == 25

record_count = weather_data.apply(check_condition, axis = 1).sum()
record_count
print(f'The number of records is {record_count}.')

The number of records is 308.

## 7:What is the mean value of each column for each weather condition?

In [69]:
# Finding the mean of each numeric column
columns_mean = weather_data.mean(numeric_only = True)
# Displaying the result
columns_mean

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

## 8:Find all instances where the weather is clear and relative humidity is greater than 50, or visibility is above 40.

In [83]:
# Filter the data based on the conditions
filter_data = weather_data[weather_data.apply(lambda x:x['Weather_Condition'] == 'Clear' and (x['Rel Hum_%'] > 50 or x['Visibility_km'] > 40),axis = 1)]
# Display the results
filter_data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
241,1/11/2012 1:00,-10.7,-17.8,56,17,25.0,101.49,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [96]:
# Checking using boolean indexing
filtered_data = weather_data[(weather_data['Weather_Condition'] == 'Clear') & ((weather_data['Rel Hum_%'] > 50)| (weather_data['Visibility_km'] > 40))]
# Displaying the results
filtered_data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
241,1/11/2012 1:00,-10.7,-17.8,56,17,25.0,101.49,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

## 9:Find the number of weather conditions that included snow

In [110]:
# Finding the number of weather conditions that include snow
include_snow = weather_data['Weather_Condition'].str.contains('snow', case = False).sum()
# Displaying the results
print(f'The number of weather conditions that included snow are {include_snow}.')

The number of weather conditions that included snow are 583.

In [111]:
# Finding all the instances where weather conditions include snow
include_snow = weather_data[weather_data['Weather_Condition'].str.contains('snow', case = False)]
# Displaying the results
include_snow

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
41,1/2/2012 17:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,1/2/2012 20:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,1/2/2012 21:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,1/2/2012 23:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,1/3/2012 0:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow